.button {
  border: none;
  background-color: var(--bg-button);

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}
