*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --bg-button: #1d4ed8;

  --brand-color: #60a5fa;
  --brand-color-dark: #1c2642;

  --text-color-primary: #f1f5ff;
  --text-color-secondary: #cbd5e1;

  --ff-sans: "Inter", system-ui, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;

  --py-base: 1rem;
  --py-lg: 1.5rem;
  --py-xl: 3rem;

  --px-lg: 1.5rem;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;
  color: var(--text-color-primary);

  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-2xl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-lg);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  transition: 200ms;
}

a:hover {
  color: var(--brand-color);
}

p[class*="mobile"] {
  transition: 200ms;
}

p[class*="mobile"]:hover {
  border: solid 1px var(--brand-color);
}

a[class*="button"] {
  transition: 200ms;
}

a[class*="button"]:hover {
  color: var(--brand-color-dark);
}

img {
  max-width: 100%;
  display: inline-block;
}

@media (width >= 80em) {
  :root {
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-2xl: 4rem;

    --py-base: 1.5rem;
    --py-lg: 2.5rem;
    --py-xl: 5rem;

    --px-lg: 2rem;
  }
}
