header {
  & img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid 2px var(--brand-color);
  }

  & a:first-child {
    margin-right: auto;
  }

  & a:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & p[class*="mobile"] {
    font-size: var(--fs-xl);
    border: solid 1px var(--text-color-primary);
    border-radius: 50%;
    padding-inline: 0.2rem;
  }
}
