#home {
  text-align: justify;

  & p {
    margin-top: 1.5rem;

    color: var(--text-color-secondary);
  }

  & div > a {
    width: 2rem;
    height: 2rem;

    margin-top: 1.5rem;
  }

  & img {
    transition: transform 300ms;
  }

  & img[class*="social"]:hover {
    transform: scale(1.1);
  }

  & .separator {
    height: 1px;
    margin-block: 2rem;
    background: radial-gradient(var(--text-color-secondary), #18181b 70%);
  }
}

@media (width >= 80em) {
  #home {
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 5rem;
    }

    & div.text-content {
      max-width: 35rem;
    }

    & img[class*="desktop"] {
      width: 25rem;
      border-radius: 50%;

      box-shadow: 0.75rem 0.5rem 4rem rgb(0 0 0 / 0.3);
    }
  }
}
