#projects {
  & header {
    & h2,
    & h2 + span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & h2 + span {
      font-size: var(--fs-sm);
      color: var(--text-color-secondary);
    }
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 2rem;
  }

  & .card {
    max-width: 340px;
    background: var(--bg-button);
    border-radius: 0.5rem;

    box-shadow: 0.75rem 0.5rem 4rem rgb(0 0 0 / 0.1);

    &:hover {
      & figcaption {
        transform: translateY(0);
      }
    }

    & figure {
      position: relative;
      overflow: hidden;

      & span {
        font-size: var(--fs-sm);
        font-weight: var(--fw-bold);
        color: var(--text-color-primary);
      }

      & img {
        padding: 1rem;
        width: 340px;
        height: 190px;
      }
    }

    & figcaption {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      position: absolute;
      bottom: 0;
      width: 100%;

      padding: 1.5rem 2rem;

      transform: translateY(100%);
      transition: transform 500ms;

      background: linear-gradient(to top, rgb(0 0 0 / 0.64), rgb(0 0 0 / 0));
    }
  }

  @media (width >= 80em) {
    & .content {
      display: grid;
      grid-template-areas:
        "A B C"
        "D E F";

      gap: 1rem;
      margin-top: 2rem;
    }

    & .card {
      box-shadow: 0.75rem 0.5rem 4rem rgb(0 0 0 / 0.3);

      & figure {
        &:nth-child(1) {
          grid-area: A;
        }

        &:nth-child(2) {
          grid-area: B;
        }

        &:nth-child(3) {
          grid-area: C;
        }

        &:nth-child(4) {
          grid-area: D;
        }

        &:nth-child(5) {
          grid-area: E;
        }
      }
    }
  }
}
